Flask==1.1.1
Flask-WTF==0.14.3
Jinja2==2.11.1
gunicorn
numpy==1.18.2
pandas==1.0.3
pathlib2==2.3.5
https://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
transformers==2.6.0
wget
gdown
